body {
    margin: 0;
    min-height: 100vh; /* Use min-height to ensure the body stretches with content */
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    font-family: 'Arial', sans-serif;
    color: #fff;
  }
    
  .container {
    text-align: center;
    margin-top: 200px; 
  }
    
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
    
  .text {
    font-size: 2em;
    margin-bottom: 20px;
  }
    
  .cake {
    background-color: #f07f13;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    margin: 0 auto; /* Center horizontally */
    margin-top: 300px; /* Adjust this to move the cake down */
    /* Removed align-items as it's not necessary */
  }
  
.candle {
    background-color: #fff;
    width: 20px;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
  
.flame {
    background-color: #f1c40f;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 20px 5px #f1c40f;
    transition: transform 0.5s, opacity 0.5s;
}
  
.flame::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #f1c40f;
}
  
.flame::after {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #e74c3c;
}
